In [1]:
# movie review sentimental analysis

In [8]:
# import library
import pandas as pd
import numpy as np

In [10]:
data=pd.read_csv('..//datasets/IMDB_Dataset.csv')
data.head(5)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive